$main-color: #163e69;
$second-color: #0c1b4c;
$third-color: #0f1a46;

.head_blogs {
  background-color: rgba(0, 0, 0, 0.5);
  height: 90px;
}

.title_blogs {
  color: rgb(82, 77, 71);
  margin-top: 40px;
  margin-bottom: -1%;
  font-weight: 900;
}

.row_blogs {
  padding-top: 1%;
  width: 75%;
  margin-top: 5%;
  overflow: hidden;
}

.row_blogs p {
  font-size: 120%;
  color: rgb(89, 85, 85);
  font-weight: 700;
}

.row_blogs a {
  text-decoration: none;
}

.row_blogs a:hover > p {
  color: $main-color;
  transition: 0.3s;
}

.float_row {
  float: left;
}

.blogs_img {
  width: 250px;
  height: 165px;
}

.nav_right {
  width: 25%;
  color: rgb(89, 85, 85);
  font-size: 90%;
  height: 100%;
  margin-top: 3.5%;
  float: right;
  border: 1px rgb(226, 226, 226) solid;
}
.blogs_ul {
  margin: 0;
  padding-left: 15%;
}
.nav_right ul li {
  margin-top: 12%;
  list-style: none;
}

.nav_right ul li:last-child {
  margin-bottom: 15%;
}

.nav_right ul li:hover {
  color: $main-color;
}
.nav_top {
  font-size: 130%;
  border: 1px rgb(226, 226, 226) solid;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
