#main_blogs {
  font-family: "Roboto Slab", serif;
}

.head_blogs {
  background-color: rgba(0, 0, 0, 0.5);
  height: 90px;
}

.btn_blogs {
  float: right;
  margin-top: -2%;
  width: 25%;
  background-color: rgb(255, 187, 0);
}

.title_blogs {
  color: rgb(82, 77, 71);
  margin-top: 40px;
  margin-bottom: -1%;
  font-weight: 900;
}

.row_blogs {
  padding-top: 1%;
  width: 75%;
  margin-top: 5%;
  overflow: hidden;
}

.row_blogs p {
  font-size: 120%;
  color: rgb(89, 85, 85);
  font-weight: 700;
}

.row_blogs a {
  text-decoration: none;
}

.row_blogs a:hover > p {
  color: rgb(255, 187, 0);
}

.row_blogs a:hover > img {
  color: black;
  box-shadow: 0px 0px 15px 0px;
}

.float_row {
  float: left;
}

.blogs_img {
  width: 250px;
  height: 165px;
}

.nav_right {
  width: 25%;
  color: rgb(89, 85, 85);
  font-size: 90%;
  height: 100%;
  margin-top: 3.5%;
  float: right;
  border: 1px rgb(226, 226, 226) solid;
}
.blogs_ul {
  margin: 0;
  padding-left: 15%;
}
.nav_right ul li {
  margin-top: 12%;
  list-style: none;
}

.nav_right ul li:last-child {
  margin-bottom: 15%;
}

.nav_right ul li:hover {
  color: rgb(237, 117, 6);
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
