$main-color: #163e69;
$item: #0c5baf2c;
$second-color: #0c1b4c;
$third-color: #0f1a46;
$fourth-color: #06081a;
$input: rgba(7, 47, 224, 0.212);

%button {
  &:hover {
    transition: 0.5s;
    background-color: $main-color;
    border: 1px solid $main-color;
    a {
      // cursor: default;
      color: white;
      &:hover {
        color: white;
      }
    }
  }
}

.layout {
  background-color: #f2f3f3ad;
}
%input {
  height: 34px;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  &:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
      0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
      0 0 8px rgba(102, 175, 233, 0.6);
  }
}
.container_reg {
  width: 400px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}
.title_reg {
  margin-top: 10%;
  text-align: center;
}
.body_reg {
  margin: 0;
  padding: 0;
  background-color: rgb(249, 250, 250);
  height: 100vh;
}
.title_reg h3 {
  margin: 0;
  padding: 0;
  color: rgb(70, 76, 91);
}
.title_reg p {
  margin-top: 2%;
  color: rgb(67, 67, 67);
  font-size: 90%;
}
.a_reg {
  text-decoration: none;
}
.title .a_reg:hover {
  color: rgb(203, 209, 215);
}

.p_reg {
  padding: 0;
  margin: 0;
}

div {
  display: border-box;
}
.input_surname {
  width: 81%;
  @extend %input;
}
.input_name {
  width: 80%;
  @extend %input;
}
.name {
  margin-left: 0.7%;
}
.registration {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  background: #ffffff;
  border-radius: 5px;
  padding-bottom: 5%;
  border: 1px solid rgb(241, 241, 241);
}
.second_name {
  float: right;
}
.name_div {
  margin-left: 2.4%;
  display: flex;
  justify-content: space-around;
}
.extra_info {
  text-align: center;
}

.extra_info .abc {
  font-size: 90%;
}
.come_in {
  text-align: center;
  padding-bottom: 5%;
}
.come_in img {
  width: 12%;
  margin-bottom: -2.3%;
  margin-right: 2.5%;
}
.mail_reg {
  margin-left: 3%;
}
.mail_reg input {
  width: 90.6%;
  @extend %input;
}
h2 {
  margin: 0;
  padding: 0;
}
.btn_reg {
  border-radius: 4px;
  background-color: #fff;
  width: 97%;
  border: 1px solid rgb(85, 168, 237);
  color: rgb(85, 168, 237);
  @extend %button;
}
.input_reg {
  border-radius: 5px;
  padding: 8px 5px 8px 15px;
  border: 1px #cccccc solid;
  font-size: 100%;
}
.input_reg::placeholder {
  color: rgb(175, 175, 175);
}
.name_reg p {
  margin: 15% 0% 8% 0%;
  color: $main-color;
  font-weight: bold;
  font-size: 90%;
}
.surname_reg p {
  margin: 15% 0% 8% 0%;
  font-weight: bold;
  color: $main-color;
  font-size: 90%;
}
.mail_reg p {
  font-weight: bold;
  font-size: 90%;
  margin: 0% 0% 4% 0%;
  color: $main-color;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.agreement {
  width: 100%;
  float: left;
  padding: 5% 0 5% 0;
  font-size: 0.8rem;
  // display: inline;
  span {
    margin-left: 2%;
  }
  a {
    font-size: 0.8rem;
  }
}
.check_reg input {
  float: left;
  margin-top: 0.7%;
  background: #fff;
}
.check_reg {
  margin-left: 3%;
  width: 80%;
}
.attention {
  border-radius: 4px;
  border: 1px solid rgb(253, 194, 194);
  margin: 3.5% 3.5% 0% 3.5%;
  background-color: rgb(255, 245, 230);
  padding: 3.5% 0 3.5% 0;
}
.attention p {
  color: rgb(84, 90, 101);
  margin-left: 5%;
  font-size: 90%;
  line-height: 150%;
}
.attention p span {
  margin-top: 5%;
  color: rgb(101, 113, 128);
  font-weight: bold;
}

.come_in {
  margin-top: 8%;
}
.come_in p {
  padding-top: 7%;
  font-size: 90%;
  color: rgb(84, 90, 101);
}
.abc {
  font-size: 80%;
}
.img_reg {
  @extend %button;

  width: 40%;
  margin: 0 auto;
  border: 1px solid rgb(85, 168, 237);
  padding: 3% 2% 3% 0;
  border-radius: 4px;
  margin-top: 10px;
  p {
    a {
      color: rgb(85, 168, 237);
      &:hover {
        color: rgb(84, 90, 101);
      }
    }
  }
}
.head_blogs {
  background-color: rgba(0, 0, 0, 0.5);
  height: 90px;
}
@media screen and (max-width: 600px) {
  .container {
    width: 100%;
    height: 100%;
  }
}
